################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Game3D/x64
/x64
/GCore/x64
/Tools/.vs/glTF-compiler
